.home {
    height: 100%;
    width:100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .upload-demo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}